*{
    background-color: #B7E5CD;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
}


.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.motivation-img {
  border: 5px solid white;
  height: 300px;
  width: 400px;
}
.ation-img {
  border: 5px solid white;
  height: 200px;
  width: 200px;
}

img{

 float: left; 
 margin: 50px;
}
hr{
  clear: both;
}
h6{
  clear: both;
  padding: 20px;
  margin: 50px;
}
.navbar{
  display: inline-flex;
  justify-content: center;
  border: 5px solid #F7F1DE ;
}
.navbar > *{
  text-align: center;
  text-decoration: solid;
  text-shadow: #050200;
  color: white;
  padding: 10px;
}

.A{background-color: #305669;}
.B{background-color: #C1785A;}
.C{background-color: #8ABEB9;}
.D{background-color: #305669;;}
.E{background-color: #C1785A;}
.F{background-color: #8ABEB9;}
